.banner {
  text-align: center;
  width: 800px;
}
.banner h2 {
  line-height: 60px;
}
.banner .bar p {
  color: #888888;
}
.banner .bar p span {
  margin: 8px;
  padding: 2px 5px;
  cursor: pointer;
}
.banner p span:hover {
  color: pink;
}
.banner .content {
  text-align: left;
  background-color: #c0c0c0;
  padding: 30px 20px;
  margin-top: 10px;
  border: 1px solid #3f3f15;
  height: 220px;
}
.banner .content p {
  text-indent: 2em;
  line-height: 200%;
}
