.pic img {
  width: 100%;
}
.nav ul {
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  padding: 7px 0;
  background-color: #666699;
}
.nav ul li {
  background-color: #666699;
  padding: 5px 10px;
  box-sizing: border-box;
  border-bottom: 2px solid #666699;
}
.nav ul li a {
  color: #fff;
}
.nav ul li:hover {
  border-bottom: 2px solid white;
}
.nav ul li:hover a {
  color: #f4b1bd;
}
.content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin: 0 10px;
  border-bottom: 1px solid #c0c0c0;
}
.content .left {
  flex: 1;
}
.content ul {
  text-align: center;
}
.content ul li {
  line-height: 60px;
}
.content .right {
  width: 900px;
  padding: 20px 0px;
  display: flex;
}
.content .right .passage {
  width: 50%;
  padding: 0 20px;
}
.content .right .passage:nth-child(2) {
  border-left: 1px dashed #a6a2a2;
}
.content .right h4 {
  text-align: center;
  color: red;
  line-height: 60px;
}
.content .right p {
  text-indent: 2em;
}
.bottom {
  margin: 20px;
}
.bottom p {
  text-align: center;
  color: #a6a2a2;
  font-size: 14px;
}
