.container {
/* 	width: 90%; */
	padding: 50rpx 50rpx;
}

.nav {
	display: flex;
	align-items: center;
	background-color: #fff;
	height: 80rpx;
}


.top {
	padding-top: 40px;
}

.title {
	text-align: center;
	font-size: 30px;
}

.main {
	margin-top: 100rpx;
	margin-left: 20rpx;
}



.info-input {
	margin-top: 10px;
	height: 60rpx;
	border-bottom: 1px solid #f4f4f4;
}

.code {
	display: flex;
	align-items: center;
	margin-top: 30rpx;
}

.regist {
	margin-top: 100rpx;
}